<div class='add-events popover top'>
    <div class='arrow'>
    </div>
    <div class='add-events__body_btn'>
        <button type="button" class='add-events__body_btn-close'>х</button>
    </div>
    <div class='add-events__body'>
        <div class='add-events__body_title'>
            <input type='text' class='add-events__body_title-field' placeholder='Событие'>
        </div>
        <div class='add-events__body_date'>
            <input type='datetime-local' class='add-events__body_date-field'>
        </div>
        <div class='add-events__body_participant'>
            <input type='text' class='add-events__body_participant-field' placeholder='Имена участников'>
        </div>
        <div class='add-events__body_description'>
            <textarea class='add-events__body_description-field' placeholder='Описание'></textarea>
        </div>
        <div class='add-events__body_btns'>
            <button type="button" class='add-events__body_btn-create'>Создать</button>
            <button type="button" class='add-events__body_btn-ok'>Готово</button>
            <button type="button" class='add-events__body_btn-delete'>Удалить</button>
        </div>
    </div>
</div>