<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Calendar</title>

    <!-- My CSS -->
    <link rel='stylesheet' type='text/css' href='./mva-boot-styles.css'>
    <link rel='stylesheet' type='text/css' href='./mva-styles.css'>
    <link rel='stylesheet' type='text/css' href='./css/styles.css'>
</head>
<body>
    //= ./header.html
    //= ./section-dates.html
    
    <!-- Moment.js -->
    <script src='./js/moment-with-locales.js'></script>
    <!-- Main.js -->
    <script src='./js/main.js'></script>
</body>
</html>
