.find-events {
    padding-right: 0;

    &__list {
        height: -webkit-fill-available;
        overflow: auto;

        &_row {
            padding: 5px;
            border-bottom: 1px solid rgba(0,0,0,.2);
            font-size: 0.75rem;

            &:last-child {
                border-bottom: none;
            }
        }

        &_row-title {
            font-weight: 600;
        }
    }
}