.block-header {
    height: 50px;
    width: 100%;
    background: #ecf2f8;
    border-bottom: 2px solid #cccccc;

    &__btn-add {
        margin-top: 10px;
    }

    &__btn-update {
        margin-top: 10px;
        margin-left: 15px;
    }

    &__find {
        display: flex;
        height: 30px;
        width: 250px;
        margin-top: 10px;

        &_img {
            height: 100%;
            padding: 4px;
            padding-right: 1px;
        }

        &_img img {
            height: 100%;
            margin-right: 5px;
        }

        &_find {
            height: 100%;
            padding: 0 0 0 5px;
            background: #fff;
            box-sizing: border-box;
            border: 1px solid #000;
        }

        &_field {
            border: none;
            outline: none;
        }

        &_btn-clear {
            background: #fff;
            color: #fff;
            border: none;
            outline: none;
        }
    }
}

/*************** SCROLLBAR STYLE ***************/

::-webkit-scrollbar{
    width: 8px; 
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

 ::-webkit-scrollbar-thumb {
    border-radius: 8px; 
    background-color: #999;
}